/* HEADER REDUCAR */
body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  background-color: #0c0b0b;
  color: white;
}

a {
  text-decoration: none;
  color: #007c00;
}

a:hover {
  text-decoration: underline;
}

.background {
  background-image: url("imagenes/footerfondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* FORMULARIO */
.formulario-contenedor {
  background-color: #1a1a1a;
  text-align: center;
  width: 400px;
  padding: 50px 40px;
  margin: 80px auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.logo {
    width: 80px;       /* tamaño del logo */
    height: auto;
    margin-bottom: 20px; /* separa el logo del título */
    display: block;      /* hace que sea un bloque y respete el centrado */
    margin-left: auto;   /* centra horizontalmente */
    margin-right: auto;  /* centra horizontalmente */
}


.formulario-contenedor h1 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}

.formulario-contenedor p {
  color: #888;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ccc;
}

input {
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: white;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #007c00;
  box-shadow: 0 0 0 2px #007c00b9;
}

/* Animación para el contenedor de contraseña */
.password-container {
  opacity: 1;
  max-height: 500px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.password-container.hidden {
  opacity: 0;
  max-height: 0;
  transform: translateY(-20px);
}

.password-container.show {
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}

.link-olvide {
  color: #007c00;
  font-size: 14px;
  margin: 15px 0 25px 0;
  text-align: right;
}

button {
  padding: 10px;
  background-color: #007c00;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  
}

button:hover {
  background-color: #007c00;
}

.error {
  color: #ff6b6b;
  font-size: 14px;
  margin-bottom: 10px;
}

/* /FORMULARIO */