body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #0c0b0b;
  color: white;
}

header {
  background-color: white;
  padding: 8px;
}

.logo {
  width: 50px;
  margin: 10px 10px 10px 0;
}

.barras {
  display: flex;
  flex-direction: column;
}

.barra-naranja {
  background-color: #f45206;
  height: 10px;
}

.barra-verde {
  background-color: #007c00;
  height: 10px;
}

.formulario-contenedor {
  background-color: #141414;
  text-align: left;
  width: 399px;
  padding: 40px;
  margin: 100px auto;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 7px;
  border-bottom: 2px solid rgb(255, 255, 255);
  background-color: #0c0b0b;
  color: white;
}

button {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 1px black;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: white;
}
